body {
	width: 100vw;
	font-family: "Montserrat", Verdana, sans-serif;
}

header {
	text-align: center;
}

button {
	background-color: #ffffff;
    border: 1px solid black;
    border-radius: 2px;
    color: black;
    padding: 5px;
}

main {
	text-align: center;
}

.reset {
	display: none;
}

.reset-button {
	margin: 10px;
}

.play-buttons {

}

.game-data {
	display: none;
}

.game-grid {
	width: 70%;
	margin-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
}

.game-row {
	display: block;
	width: 100%;
	text-align: center;
}

.game-cell {
	background-color: blue;
	display: inline-block;
	box-sizing: border-box;
	border: 3px solid white;
}

.win-popup {


}