body {
	width: 97vw;
	font-family: "Montserrat", Verdana, sans-serif;
}

header {
	text-align: center;
	margin-top: 30px;
}

button {
	background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 16px;
    padding: 5px;
    margin: 10px;
}

main {
	text-align: center;
}

h2 {
	text-align: center;
	font-size: 18px;
}

p,li {
	font-size: 14px;
}

.reset, .game-data, .win-popup, .win-popup-titlebar {
	display: none;
}

.starThree, .seconds {
	margin-right: 25px;
}

.game-grid {
	width: 90%;
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

.game-row {
	display: block;
	width: 100%;
	text-align: center;
}

.game-cell {
	background-color: blue;
	display: inline-block;
	box-sizing: border-box;
	border: 3px solid white;
}

.game-image {
	visibility: hidden;
	position: relative;
	box-sizing: border-box;
	border: 1px solid white;
	width: 100%;
}

.win-popup-buttons {
    font-size: 14px;
}




